 @import url('http://fonts.cdnfonts.com/css/helvetica-255');
 @import url('http://fonts.cdnfonts.com/css/acumin-pro');

                
                
body{
	padding: 0;
	margin: 0;
	background-color: #F6F8F9;
	max-width: 1440px;
	max-height: 100%;
	margin: 0 auto!important;
}

/*header*/

header{
	max-width: 100%; 
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mobile-head,.mobile-body{
	display: none;
}
.head{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
/*burger*/
.burger{
	width: 16px;
	height: 16px;
	cursor: pointer;
	padding-top: 2px;
	transition: 0.5s ease;
	display: none;
}
.burger-line{
	width: 100%;
	height: 2px;
	background: #343638;
	transition: 0.5s ease;
}
.burger-line:nth-child(2){
	width: 70%;
	margin: 3px 0;
}
.burger.open .burger-line:nth-child(1){
	transform: rotate(45deg) translate(3px, 4px);
}
.burger.open .burger-line:nth-child(2){
	width: 0;
}
.burger.open .burger-line:nth-child(3){
	transform: rotate(-45deg) translate(3px, -4px);
}
/*burger*/
.logo{
	font-size: 13px;
	color: #FA6980;
	font-family: 'Helvetica', sans-serif;                                   
}
nav{
	float: right;
}
nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
 nav ul li{
 	margin-right: 10px;
 }
 .img-li{
 	margin: 0 0 0 10px;
 }
 nav ul li:nth-child(1) a{
 	opacity: 1;
 }
  .img-a{
 	opacity: 1;
 }
  nav ul li a{
 	width: 100%;
 	font-size: 11px;
 	color: #343638;
 	font-weight: bold;
 	opacity: 0.5; 
 	text-transform: uppercase;
 	font-family: 'Helvetica', sans-serif; 
 }

 /*header*/

 /*section more-news*/

.more-news{
	max-width: 1440px;
	height: 600px;
}
.news{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
}

/*left container*/
.left-cont{
	height: 600px;
	position: relative;
	top: 0;
	left: 0;
}

.text-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.text{
	width: 560px;
	height: 300px;
}
h1.title{
	margin-bottom: 40px;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold; 
	font-family: 'Helvetica', sans-serif; 
}
hr.line{
	border-top: 1px solid #FFFFFF;
}
p.context{
	margin-bottom: 30px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 25px;
	font-family: 'Helvetica', sans-serif; 
}

.button{
	height: 40px;
	width: 140px;
	background-color: #FA6980;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
a.but{
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: 'Helvetica', sans-serif; 
}
/*left container*/


/*ringt container*/
.right-cont{
    height: 600px;
    width: 600px;
    background-color: #FFFFFF;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_container{
	width: 390px;
}
.tit_seccond{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}
.tit_seccond .arrow .left_arrow{
	margin-right: 10px;
	cursor: pointer;
}
.right_arrow{
	cursor: pointer;
}

.tit_seccond .title_sec{
	font-size: 24px;
	font-weight: bold;
	color: #202124;
	font-family: 'Helvetica', sans-serif; 
}
.title_container hr.line_sec{
	border-top: 1px solid #EBEDED;
}
.info_box{
	width: 390px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.box_title{
	font-size: 16px;
	font-weight: bold;
	color: #FA6980;
	margin: 40px 0 20px 0;
	font-family: 'Helvetica', sans-serif; 
}
.box_sec_title{
	font-size: 16px;
	font-weight: bold;
	color: #202124;
	margin-bottom: 10px;
	position: relative;
	font-family: 'Helvetica', sans-serif; 
}
.box_context{
	font-size: 16px;
	color: #A6ADB4;
	line-height: 25px;
	font-family: 'Acumin Pro', sans-serif;
}
.time-box{
	display: flex;
	margin: 12px 0;
}
.time-context{
	font-size: 13px;
	color: #A6ADB4;
	margin: 2px 0 0 10px;
	font-style: oblique;
	position: relative;
	width: 84px;
	font-family: 'Helvetica', sans-serif; 
}
/*right container*/

/*section more-news*/



/*section gallery-information*/
.gallery_information{
	width: 100%;
	margin: 40px 0;
}

.gallery{
	width: 1160px;
	height: 410px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	
}
.gal-box{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.gal-title{
	font-size: 24px;
	font-weight: bold;
	color: #202124;
	font-family: 'Helvetica', sans-serif; 
}
.gal-box .arrow .left_arrow{
	margin-right: 10px;
	cursor: pointer;
}
.right_arrow{
	cursor: pointer;
}

.gal-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0;
}
.inf-box{
	width: 360px;
	height: 350px;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}
.inf-box .gal-img{
	width: 100%;
	height: 180px;
	margin-bottom: 40px;
}
.gal-tit{
	font-size: 16px;
	font-weight: bold;
	color: #202124;
	font-family: 'Helvetica', sans-serif; 
}
.gal-conte{
	font-size: 13px;
	color: #A6ADB4;
	margin: 10px 0; 
	font-family: 'Acumin Pro', sans-serif;
}
.gal-conte2{
	font-size: 13px;
	color: #A6ADB4;
	font-family: 'Acumin Pro', sans-serif;
}
.gal-time{
	display: flex;
	margin-top: 10px;
}
.gal-min-time{
	font-size: 13px;
	color: #A6ADB4;
	margin: 2px 0 0 10px;
	font-family: 'Helvetica', sans-serif; 
	font-style: oblique;
}
/*section galery_information*/

/*section heppening-sec*/

.happening-sec{
	width: 100%;
	margin-bottom: 100px;
}
.big-cont{
	width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.gallery-container{
	margin-top: 40px;
	display: flex; 
	justify-content: space-between;
}
.ga-left-cont{
	width: 760px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.left-img-box-top{
	position: relative;
	top: 0;
	left: 0;
}
.left-img-box-bot{
	margin-top: 40px;
}
.left-city-title{
	position: absolute;
	top: 40px;
	left: 40px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Helvetica', sans-serif;
}
.left-cont-context{
	position: absolute;
    bottom: 40px;
    left: 40px;
    width: 680px;
    height: 102px;
}
.left-cont-context-title{
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: 'Helvetica', sans-serif;
}
.left-cont-context-text{
	margin-top: 10px;
	width: 100%;
	height: 42px;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	font-family: 'Helvetica', sans-serif;
}
.span-secret{
	opacity: 0;
}
.secret-h-title{
	opacity: 0;
}
.lr-time-box{
	width: 67px;
	display: flex;
}
.time-p{
	font-size: 13px;
	color: #CBD0D3;
	font-style: oblique;
	margin: 2px 0 0 7px;
	font-family: 'Helvetica', sans-serif;
}
.left-img-box-bot{
	position: relative;
	bottom: 0;
	left: 0;
}
.ga-right-cont{
	width: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.secret-hr{
	display: none;
}
.right-box{
	width: 100%;
	height: 270px;
	display: flex;
	flex-direction: column;
}
.right-cont-context-title{
	font-size: 16px;
	font-weight: bold;
	color: #202124;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: 'Helvetica', sans-serif;
}
.r-time-box{
	width: 151px;
}
.time-a{
	text-decoration: underline;
	font-size: 13px;
	font-style: oblique;
	color: #CBD0D3;
	font-family: 'Helvetica', sans-serif;
}

/*section heppening_sec*/


/*footer*/

footer{
	width: 100%;
	height: 200px;
	background: #A6ADB4;
	border: 1px solid #707070;
}

.foot{
	width: 1160px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu{
	display: flex;
	justify-content: space-between;
	width: 378px;
	height: 84px;
}
.fot-log{
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: 'Acumin Pro', sans-serif;
}
.fot-ul li{
	font-size: 13px;
	font-weight: bold;
	color: #CBD0D3;
	margin-bottom: 10px;
	font-family: 'Helvetica', sans-serif;
}
.email-social{
	display: flex;
}
.email-box{
	width: 262px;
	height: 65px;
	transform: translateY(-8px);
	margin-right: 150px;
}
form{
	position: relative;
	top: 0;
	left: 0;
}
input[type=email]{
	width: 100%;
	height: 40px;
	border: 1px solid #CBD0D3;
	background-color: transparent;
	padding: 20px;
	border-radius: 5px;
	outline: none;
}
input::placeholder{
	font-size: 13px;
	color: #CBD0D3;
	opacity: 0.5;
}
.sent-form{
	position: absolute;
    bottom: 32%;
    right: 8%;	
}
.form-text{
	font-size: 11px;
	color: #CBD0D3;
	margin-top: 15px;
	font-family: 'Helvetica', sans-serif;
}
.social{
	width: 160px;
	transform: translateY(-8px);
}
.social-media{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.social-media li{
	cursor: pointer;
}

/*footer*/


@media screen and (max-width: 768px){
	.body{
		width: 768px;
	}
	.head{
		width: 100%;
	}
	.more-news{
		max-width: 768px;
		height: 743px;
	}
	.news{
		width: 768px;
		display: flex;
		flex-direction: column;
	}
	.img{
		display: none;
	}
	.left-cont{
		height: 400px;
	}
	.background-image{
		background-image: url(../img/image8.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;	
		width: 768px;
		height: 400px;
	}
	.text-container{
		width: 608px;
    	height: 239px;
	}
	.right-cont{
		width: 768px;
	    min-height: 343px;
	    padding: 40px 0;
	    display: flex;
	    flex-direction:column;
	    justify-content: flex-start;
	}
	.title_container{
	    width: 608px;
    	height: 60px;
	}
	br{
		display: none;
	}
	.info_box{
		width: 100%;
		display: flex;
		flex-direction: initial;
		height: 123px;
	}
	.info_box .box:nth-child(1){
		margin-right: 40px;
	}
	.tit_seccond{
		margin-bottom: 0;
	}
	.line_sec{
	 	margin: 40px 0;
	}
	.box_sec_title span{
		display: none;
	}
	.time-context span{
		display: none;
	}
	.bef-title::before{
		content: "Subtitle";
		position: absolute;
		top: -10px;
		left: 0;
		font-size: 16px;
    	font-weight: bold;
    	color: #202124;
	}
	.bef-time::before{
		content: "1h ago";
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	    font-size: 13px;
	    color: #A6ADB4;
	    font-style: oblique;
	}
	.gallery_information{
		margin-top: 40px;
	}
	.gallery{
		width: 608px;
		height: 412px;
	    display: flex;
    	flex-direction: column;
	}
	.inf-box{
		width: 284px;
	}
	.inf-box:nth-child(3){
		display: none;
	}
	.gal-tit, .gal-conte, .gal-conte2, .gal-time{
		margin-left: 30px;
		margin-right: 30px;
	} 
	.happening-sec{
		width: 768px;
	}
	.big-cont{
		width: 608px;
	}
	.gallery-container{
	    display: flex;
    	flex-direction: column;
	}
	.ga-left-cont{
		width: 608px;
	}
	.left-img-box-top{
		width: 608px;
		height: 430px;
	}
	.left-img-box-bot{
		margin-top: 40px;
	}
	.left-f-img{
		width: 100%;
		height: 100%;
	}
	.left-cont-context{
		width: 528px;
	}
	.span-secret{
		opacity: 1;
	}

	.ga-right-cont{
		width: 608px;
	    display: flex;
	    margin-top: 40px;
	    justify-content: space-between;
        flex-direction: initial;
	}
	.right-box{
	    width: 284px;
	}
	.right-box:nth-child(3){
		display: none;
	}
	.right-cont-context-title {
	    font-size: 16px;
	    font-weight: bold;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.g-r-img{
		width: 100%;
		height: 180px;
	}
	.footer{
		width: 100%;
		height: 316px;
	}
	.foot{
		width: 608px;
		display: flex;
		flex-direction: column;
		padding: 60px 80px;
	}
	.menu{
		width: 567px;
    	height: 84px;
	}
	.email-social{
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.email-box{
		width: 284px;
		height: 66px;
		display: inline-block;
	}
	.social{
		width: 136px;
		height: 16px;
		display: inline-block;
		transform: translateY(18px);
	}

}


/*media 376px*/

@media screen and (max-width: 376px){
	.body{
		overflow-x: hidden;
		width: 376px;
		height: 100%;
	}
	.head{
		display: none;
	}
	header{
		width: 376px;
		height: 88px;
		display: flex;
		flex-direction: column;
	}
	.mobile-head{
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}
	.cloock{
		font-size: 14px;
		color: #343638;
		width: 54px;
   		text-align: center;
	}
	.mobile-body{
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		position: relative;
	}
	.burger{
		display: block;
		z-index: 222;
	}
	.logo-mobile-body{
		font-size: 13px;
		font-weight: bold;
		color: #A6ADB4;
		font-family: 'Helvetica', sans-serif;
		cursor: pointer;
	}
	.img-mobile-body{
		cursor: pointer;
	}
	.mob-nav{
		width: 287px;
		height: 100vh;
		position: absolute;
		top: 0;
		left: -90%;
		background: #F6F8F9;
		z-index: 111;
	    box-shadow: 10px 0px 50px rgb(0 0 0 / 60%);
		transition: 0.3s ease;
	}
	.mob-nav.open{
		left: 0;
	}
	.mob-nav-ul{
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.mob-nav-ul-li{
		width: 60%;
		padding: 15px;
		margin-top: 30px;
		cursor: pointer;
		position: relative;
	}
	.mob-nav-ul-li:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background-color: #FA6980;
		z-index: -1;
		transition: 0.5s ease;
	}
	.mob-nav-ul-li:hover.mob-nav-ul-li:before{
		width: 100%;
		transition: 0.5s ease;
	}
	.mob-nav-ul-li-a{
		font-size: 11px;
		font-weight: bold;
		color: #343638;
		opacity: 0.5;
		margin-left: 35px;
		font-family: 'Helvetica', sans-serif;
	}
	.mob-nav-ul-li-a:nth-child(1){
		font-size: 13px;
		font-weight: bold;
		color: #FA6980;
		margin-left: 0;
	}
	.mob-nav-ul-li:nth-child(1){
		margin-bottom: 80px;
		background-color: #F6F8F9!important;
	}
	.icon{
		width: 16px;
		height: 16px;
	}
	.more-news{
		width: 376px;
		height: 866px;
	}
	.news{
		width: 100%;
		height: 100%;
	}
	.left-cont{
		width: 376px;
    	height: 388px;
	}
	.background-image{
		width: 100%;
		height: 100%;
	}

	.text-container{
		width: 327px;
    	height: 308px;
	}
	.text{
		width: 100%;
		height: 100%;
	}
	.line{
		margin-bottom: 40px;
	}
	.context{
	    height: 70px;
    	line-height: 25px;
    	margin-top: 50px;
	    margin-bottom: 20px!important;
	}
	.button{
		width: 151px;
	}
	.visit{
		display: none;
	}
	.right-cont{
		width: 375px;
		height: 478px;
	}
	.title_container{
		width: 327px;
		height: 60px;
	}
	.info_box{
		height: 298px;
		display: flex;
		flex-direction: column;
	}
	.box{
		margin-right: 0!important; 
	}
	.box_title{
		margin: 0 0 20px 0;
	}
	.bef-title::before{
		display: none;
	}
	.box_sec_title span{
		display: block;
	}
	.box{
		padding-top: 40px;
	}
	.box:nth-child(2){
		padding-top: 20px;
	}

	.gallery_information{
		width: 376px;
		height: 716px;
	}
	.gallery{
		width: 327px;
		height: 716px;
	}
	.gal-container{
		display: flex;
		flex-direction: column;
	}
	.inf-box{
		width: 327px;
		height: 308px;
	}
	.inf-box:nth-child(1){
		margin-bottom: 40px;
	}
	.gal-img{
		height: 154px!important;
	}

	.happening-sec{
		width: 376px;
	}
	.big-cont{
		width: 327px;
	}
	.gallery-container{
		width: 100%;
	}
	.ga-left-cont{
		width: 327px;
		height: 100%;
	}
	.left-img-box-top{
		width: 100%;
		height: 300px;
	}
	.left-cont-context{
		width: 279px;
		height: 144px;
	}
	.in-span-secret{
		display: none;
	}
	.left-cont-context-text{
		line-height: 20px;
		margin-top: 40px!important;
	}
	.lr-time-box{
		margin-top: 25px;
	}
	.left-img-box-bot{
		width: 100%;
		height: 300px;
	}
	.secret-h-title{
		opacity: 1;
	}
	.ga-right-cont{
		width: 376px;
		flex-direction: column;
	}
	.right-box{
		width: 327px;
	}
	.right-cont-context-title{
		margin-top: 20px!important;
		margin-bottom: 0 !important;
	}
	.r-time-box{
		margin-top: 10px !important;
	}
	.right-box:nth-child(3){
		display: block;
	}
	.secret-hr{
		width: 327px;
		margin-bottom: 40px;
		display: block;
		border: 1px solid #EBEDED;
		transform: translateX(-27px);
	}
	.footer{
		display: none;
	}

}

